# Core ML Framework
torch>=2.9.0
torchvision>=0.24.0
# Transformers and Tokenization
sentencepiece>=0.2.1
transformers>=4.57.1

# Data Processing
datasets>=4.3.0
pandas>=2.2.0,<2.3.0  # TTS uyumu için <2.3.0

# Turkish Morphology
zemberek-python>=0.2.3
# trmorph alternatifi

# Utilities
tqdm>=4.66.0
tensorboard>=2.20.0

# Optional GPU
# torchaudio>=2.5.0